@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product List";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Product List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Create" class="btn btn-info">
                    <i class="bi bi-plus-circle"></i> &nbsp; New Product
                </a>
            </div>
        </div>

        <table class="table table-bordered table-striped mt-3" style="width:100%">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="align-middle">ISBN</th>
                    <th class="align-middle">Author</th>
                    <th class="align-middle">Price</th>
                    <th class="align-middle">Category</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var products in Model)
                {
                    <tr>
                        <td width="50%">@products.Title</td>
                        <td width="50%">@products.ISBN</td>
                        <td width="50%">@products.Author</td>
                        <td width="50%">@products.Price</td>
                        <td width="50%">@products.CategoryId</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-area="Admin" asp-controller="Product" asp-action="Edit" asp-route-id="@products.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@products.Id" class="btn btn-warning mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="container p-3">
</div>